.headerLink {
  text-decoration: none;
  color: #ddd;
  font-weight: 700;
}

.toolsTitle {
  text-align: start;
  padding-top: 2rem;
  padding-left: 1rem;
  margin-bottom: 1 rem;
}

.toolCard {
  color: #333;
  background-color: #fff;
  cursor: pointer;
  text-align: start;
  margin: 16px;
  padding: 16px;
  height: calc(100% - 32px);
  position: relative;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.toolCard::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #003380;
  transition: width 0.7s ease;
}

.toolCard:hover {
  background-color: #fff;
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.toolCard:hover::after {
  width: 100%;
}
